.hidden {
    display: none;
}

body {

    --bg-color: #101010;
    --hover-color: #272727;
    --line-color: #707070;
    --line-dark-color: #414141;
    --text-color: white;
    --text-dark-color: #b6b6b6;

    --window-width: 1920px;
    --window-height: 70px;

    background-color: var(--bg-color);
    margin: 0;
    color: var(--text-color);
    font-family: 'Segoe UI';
    font-weight: 450;
    font-size: 14.5px;
    user-select: none;
    overflow: hidden;
}

.main {

    --main-width: calc(var(--window-width) - 0px);
    --main-height: calc(var(--window-height) - 0px);

    --home-width: 5px;
    --timer-width: 70px;

    --main-home: var(--home-width);
    --main-timer: var(--timer-width);
    --main-container: calc(var(--main-width) - calc(var(--main-home) + var(--main-timer)));

    max-width: var(--main-width);
    max-height: var(--main-height);

    display: grid;
    grid-template-columns: var(--main-container) var(--main-timer) var(--main-home);
}

.container {

    & > .page {
        padding-left: 10px;
        padding-right: 10px;
    }

    & > .page1 {

        --page-height: var(--main-height);
        --window-tab-width: 300px;
        --ram-tab-width: 150px;
        --cpu-tab-width: 150px;
        --download-tab-width: 150px;
        --upload-tab-width: 150px;
        --stopwatch-tab-width: 150px;
        --timer-tab-width: 150px;

        & > .page-top {
            display: grid;
            grid-template-columns: var(--window-tab-width) var(--ram-tab-width) var(--cpu-tab-width) var(--download-tab-width) var(--upload-tab-width) var(--stopwatch-tab-width) var(--timer-tab-width);
        
            & > .musicStats {
                height: var(--page-height);
                width: var(--window-tab-width);
                display: grid;
                grid-template-rows: 33.33% 33.33% 33.33%;
                --musicDivHeights: calc(var(--page-height) * 0.33);

                & > .musicTitle {
                    text-align: center;
                    overflow: hidden;

                    & > .scrollText {

                        --scrollSpeed: 5s;

                        -moz-transform: translateX(100%);
                        -webkit-transform: translateX(100%);
                        transform: translateX(100%);
                        
                        -moz-animation: my-animation var(--scrollSpeed) linear infinite;
                        -webkit-animation: my-animation var(--scrollSpeed) linear infinite;
                        animation: my-animation var(--scrollSpeed) linear infinite;
                    }
                }

                & > .musicControls {
                    display: grid;
                    grid-template-columns: 10% 80% 10%;

                    & > .musicControlLeft {
                        text-align: center;
                        line-height: var(--musicDivHeights);

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }

                    & > .musicControlMiddle {
                        & > .musicTimeline {

                            --musicTimelime-height:calc(var(--musicDivHeights) * 0.3);

                            background-color: var(--line-dark-color);
                            width: 90%;
                            height:  var(--musicTimelime-height);
                            border-radius: 20px;
                            margin: auto;
                            margin-top: calc(calc(var(--musicDivHeights) - var(--musicTimelime-height)) / 3);

                            & > .musicTimelineDot {
                                width: 0px;
                                height: 100%;
                                background-color: var(--line-color);
                                border-radius: 20px;
                            }
                        }
                    }

                    & > .musicControlRight {
                        text-align: center;
                        line-height: var(--musicDivHeights);

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                }

                & > .musicOptions {
                    display: grid;
                    grid-template-columns: 33.33% 33.33% 33.33%;

                    
                    & > .musicPlayPause {
                        
                        --playPauseSVG-height: 16px;
                        text-align: right;
                        
                        &:hover {
                            background-color: var(--hover-color);
                        }

                        & > svg { 
                            margin-top: calc(calc(var(--musicDivHeights) - var(--playPauseSVG-height)) / 2);
                            
                        }
                    }
                    
                    & > .musicTimer {
                        font-size: 12px;
                        line-height: var(--musicDivHeights);
                        text-align: center;
                        color: var(--text-dark-color);

                        &:hover {
                            background-color: var(--hover-color);
                        }
                    }
                    & > .musicOptionsButtonWrapper {

                        --musicOptionsButtonSVG-height: 16px;
                        
                        &:hover {
                            background-color: var(--hover-color);
                        }

                        & > svg { 
                            margin-top: calc(calc(var(--musicDivHeights) - var(--musicOptionsButtonSVG-height)) / 2);

                        }

                    }
                }
            }

            & > .ramStatsTab {
                height: var(--page-height);
                width: var(--ram-tab-width);
                padding-left: 10px;
                padding-right: 10px;

                & > .ramMeter {
                    width: calc(var(--ram-tab-width) - 20px);
                    height: var(--page-height);
                }
            }

            & > .cpuStatsTab {

                height: var(--page-height);
                width: var(--cpu-tab-width);
                padding-left: 10px;
                padding-right: 10px;

                & > .cpuMeter {
                    width: calc(var(--cpu-tab-width) - 20px);
                    height: var(--page-height);
                }

            }

            & > .downloadSpeedTab {

                height: var(--page-height);
                width: var(--download-tab-width);
                padding-left: 10px;
                padding-right: 10px;

                & > .downloadMeter {
                    width: calc(var(--download-tab-width) - 20px);
                    height: var(--page-height);
                }

            }

            & > .uploadSpeedTab {

                height: var(--page-height);
                width: var(--upload-tab-width);
                padding-left: 10px;
                padding-right: 10px;

                & > .uploadMeter {
                    width: calc(var(--upload-tab-width) - 20px);
                    height: var(--page-height);
                }

            }

            & > .stopwatchTab {
                height: var(--page-height);
                width: var(--stopwatch-tab-width);
                padding-left: 10px;
                padding-right: 10px;
                cursor: pointer;

                &:hover {
                    stroke: var(--text-color);
                }

                & > .stopwatchCircle {
                    margin-left: 10px;
                    width: calc(var(--stopwatch-tab-width) - 20px);
                    height: calc(var(--page-height) - 0px);
                } 
            }

            & > .timerTab {
                height: var(--page-height);
                width: var(--stopwatch-tab-width);
                padding-left: 10px;
                padding-right: 10px;
                cursor: pointer;

                
                &:hover {
                    stroke: var(--text-color);
                }

                & > .timerCircle {
                    margin-left: 10px;
                    width: calc(var(--stopwatch-tab-width) - 20px);
                    height: calc(var(--page-height) - 0px);
                } 
            }
           
        }
    }

    & > .page-hidden {
        display: none;
    }
}

.timer {
    width: calc(100% - 1px);
    height: var(--main-height);

    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;

    line-height: calc(var(--main-height) * 0.33);

    
    & > .timer-top {
        text-align: center;
        color: var(--text-dark-color);

        &:hover {
            background-color: var(--hover-color);
        }
    }
    
    & > .timer-middle {
        text-align: center;

        &:hover {
            background-color: var(--hover-color);
        }

        & > .timer-middle-num {
            margin-right: 2px;
        }

        & > .timer-middle-lockIcon {
            margin-left: 2px;
        }
    }

    & > .timer-bottom {
        text-align: center;
        color: var(--text-dark-color);
        
        &:hover {
            background-color: var(--hover-color);
        }
    }
}

.home {
    border-left: 1px solid var(--line-color);
    width: calc(100% - 1px);
    height: var(--main-height);

    &:hover {
        background-color: var(--hover-color);
    }
}

@-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }

  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }  

  
#container {
    width: 150px;
    height: 75px;
}